@use "../media" as *;
@use "../mixins" as *;

.header {
  position: fixed;
  background: url('/image/Ornament.svg') var(--color-black) ;
  z-index: 1005;
  width: 100%;
  

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 29px;
    gap: 10px;
    
  }

  &__menu {
    color: var(--color-white);

    @include tablet {
      display: none;
    }

    &-list {
      display: flex;
      justify-content: space-between;
      gap: 40px;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      height: 42px;
      transition: color 200ms ease-in;
      flex-shrink: 1;

      @include hover {
        color: var(--color-accent);
      }
    }
  }

  &__login {
    display: flex;
    gap: 40px;
  }
 
  &__burger-button {
    @include reset-button;
    @include square(42px);

    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    color: var(--color-white);

    &::after,
    &::before {
      content: '';
    }

    &::after,
    &::before,
    .line {
      width: 22px;
      height: 2px;
      background: currentColor;
      transition: transform 400ms ease-in;
      transform-origin: 50% 50%;
    }

    &.open {
      .line {
        transform: scaleX(0);
      }

      &::before {
        transform: translateY(6px) rotate(45deg);
      }

      &::after {
        transform: translateY(-6px) rotate(-45deg);
      }
    }

    @include hover {
      color: var(--color-accent);
    }
  }
}