@use "../media" as *;
@use "../mixins" as *;

.title {
  padding-block: 140px;

  @include tablet {
    padding-block: 100px;
  }

  @include mobile {
    padding-block: 80px;
  }

  &__gray {
    color: #adadad;
  }

  &-accent {
    background: var(--color-accent);
    text-align: center;
  }
}

.title-accent {
  &__body {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 32px;
    }
  }

  &__gray {
    color: #87D322;
  }
}
